<h1>Welcome to Finance Assistant :)</h1>
<hr />
<h3>Your transactions overview:</h3>
<br />

<div class="form-group form-inline col-md-12">
    <div class="col-md-3">
        <label for="from">From</label>
        <input id="from" type="date" class="form-control" [(ngModel)]="startDate" name="startDate" required />
    </div>
    <div class="col-md-3">
        <label for="to">To</label>
        <input id="to" type="date" class="form-control" [(ngModel)]="endDate" name="endDate" [disabled]="!startDate" required />
    </div>
    <button type="button" class="btn btn-primary" (click)="getDataForDates()" [disabled]="!endDate">Show Data</button>
</div>

<div class="charts col-md-12">
    <div class="col-md-4" [chart]="expenseChart"></div>
    <div class="col-md-4" [chart]="incomeChart"></div>
    <div class="col-md-4" [chart]="totalChart"></div>
</div>

<div class="form-group form-inline col-md-12">
    <div class="col-md-6">
        <label for="sum">Current Balance</label>
        <input id="sum" type="text" class="form-control" disabled [(ngModel)]="sum" name="sum" /><span> EUR</span>
    </div>
</div>